body {
  position: relative;
  overflow-y: scroll;
}

.card .h-100 {
  width: 18rem;
}

footer {
  height: 5vh;
}

footer ul {
  list-style: none;
}

.about-description {
  width: 50%;
  color: #6f0f0f;
}

#myself {
  width: 25%;
}

.py-5 {
  background: radial-gradient(circle, rgba(143,111,164,1) 0%, rgba(177,175,172,1) 100%);
}

.form-text {
  color: #184976;
}
